### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data['SN'].nunique()
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#variable for unique items
unique_items = purchase_data["Item Name"].nunique()
unique_items

#variable for average price
avg_price = purchase_data["Price"].mean()
avg_price

#print a summary of the variables found above
summary_df = pd.DataFrame({"number of unique items":[unique_items], "average price":[avg_price], "player count": [total_players]})

summary_df.style.format({'average price':"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Group by gender
gender_demo = purchase_data.groupby("Gender")

# get a total of gender from the SN column
gender_count = gender_demo.nunique()["SN"]
gender_count

# get the % of gender from gender variables divded by total players
percent_players = gender_count / total_players
percent_players

# put the variables into a data frame
gender_df = pd.DataFrame({"Player %": percent_players, 
                          "Total Count": gender_count})

# format the output variables and print it using "{:.2%}"
gender_df.style.format({"Player %": "{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# For each gender, arrive at calculations for:
# 1-Purchase Count
# 2-Average Purchase Price
# 3-Average Purchase Total
# put it in a table and print with formating

# How?
# find the total count of purchases made by each gender
# then divide the sum of purchases made by each gender by the count of each gender from the above variable "gender_count"
# to reduce confusion, come up with a variable naming convention by using 

# 1-get the total purchase count for each gender 
count_purchase_gender = gender_demo["Purchase ID"].count()

# 2-calculate the average purchase prices by gender
average_price_gender = gender_demo["Price"].mean()
average_price_gender.round(2)

# 3-calculate the average purchase total by gender
average_purchase_sum = gender_demo["Price"].sum()
average_purchase_sum.round(2)

# put the variables into a data frame
gender_df2 = pd.DataFrame({"Purchase Count": count_purchase_gender, 
                           "Average Purchase Price": average_price_gender, 
                           "Average Purchase Total": average_purchase_sum})

# format the output variables and print it
gender_df2.style.format({"Average Purchase Price": "${:,.2f}",
                         "Average Purchase Total": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# For each age group, arrive at calculations for:
# 1-Percentage of Players
# 2-Total Count
# put it in a table and print with formating

# How?
# break up the age groups, and labvel the age groups
# find the total count of players in each age group
# then divide the sum of players from each player age group by the "total_players" from way early above


# make bins by age
age_bins = [0, 9.9, 19.9, 29.9, 39.9, 49.9]
age_bin_names = ["Under 10", "10-19", "20-29", "30-39", "40 and Over"]

# break up the original purchase_data table into the bins defined above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=age_bin_names)
purchase_data

# make a new data frame, and group it by the new column “Age Group” you added from above
age_group_df = purchase_data.groupby("Age Group")

# use the .nunique() function to get a count of the total players by age in each category
# REMINDER: use the same variable naming convention from above of AAA_BBB_CCC, A=calculation type, B=value, C=group
count_players_age = age_group_df["SN"].nunique()

# calculate the percent for each age category 
percent_players_age = (count_players_age/total_players)

# put the variables into a data frame
age_demographics = pd.DataFrame({"Percentage of Players": percent_players_age,
                                 "Total Count": count_players_age})

# format the output variables and print it
age_demographics.style.format({"Percentage of Players":"{:,.2%}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# use the .count() to get the total count of purchases made for each age group
count_purchase_age = age_group_df["Purchase ID"].count()

# calculate the average purchase price for each age group
average_price_age = age_group_df["Price"].mean()

# Calculate total purchase value by age group 
total_purchase_value = age_group_df["Price"].sum()

# Calculate the average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value/count_players_age

# put the variables into a data frame
age_demographics = pd.DataFrame({"Purchase Count": count_purchase_age,
                                 "Average Purchase Price": average_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# format the output variables and print it
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# take the source purchase_data table and group by SN
spender_data = purchase_data.groupby("SN")

# use .count() to get a total count of purchases by each SN
count_purchase_spender = spender_data["Purchase ID"].count()

# use .mean() calculate the average purchase by SN from the grouped table 
avg_purchase_price_spender = spender_data["Price"].mean()

# use .sum() to calculate total purchase value
sum_purchase_spender = spender_data["Price"].sum()

# put the variables into a data frame
big_spenders_df = pd.DataFrame({"Purchase Count": count_purchase_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":sum_purchase_spender})

# Sort the latest DF in descending order and use .head(3) to cut off the list
sorted_big_spenders = big_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head(3)

# format the output variables and print it
sorted_big_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# make a new data frame with just the relevant Item ID, Item Name, and Item Price columns
purchased_items_df = purchase_data[["Item ID", "Item Name", "Price"]]

# make another data frame, this time grouped by Item ID and Item Name
item_group_df = purchased_items_df.groupby(["Item ID","Item Name"])

# use .count() to count the frequency an item was purchased
count_purchase_item = item_group_df["Price"].count()

# use .sum() to calculate the individual value of an item purchased
sum_purchase_item = (item_group_df["Price"].sum()) 

# calculate the price of an item by dividing the total spent on an item by the number of items purchased
item_price = sum_purchase_item/count_purchase_item

# put the calculated variables into a data frame
most_popular_items = pd.DataFrame({"Purchase Count": count_purchase_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":sum_purchase_item})

# arrange from largest to smallest "Purchase Count" and show the top 3 using .head(3)
most_popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head(3)

# format the output variables and print it
most_popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# arrange from largest to smallest "Total Purchase Value" and show the top 3 using .head(3)
most_popular_formatted = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head(3)

# format the output variables and print it
most_popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})